* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.cabecalho {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 150px;

  background: linear-gradient(to right, #204D37, #00853B 40%);  
}

.cabecalho a {
  display: flex;  
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
 
  width: 100%;
  padding: 10px 10%;
  font-size: small;

  color: #e9e9e9;
  background: linear-gradient(to right, #204D37, #00853B 40%);  
}

.rodape img {
  display: flex;
  height: 130px;
}

.rodape .endereco {
  display: flex;
  flex-direction: column;  
}

.rodape .contato {
  display: flex;
  flex-direction: column;
}

.footer_titulo {
  font-weight: bold;
}

.rodape p {
  margin: 0;
}

/* inicio do filtro */

.filtro {
  margin: 10px auto;
  background-color: #e6e7e8;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

.filtro button {
  margin-bottom: 5px;  
  background-color: #cccccc;
  color: black;
  border: none;
}

.filtro button:hover, .filtro .ativo {
  /* background: linear-gradient(to bottom left, #f59211 40%, #ce5e18 100%); */
  background-color: #00682f;  
  color: white;
  border: none;
}  
  
  /* --------------------------------------- */
  
.cards_curso {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card_curso {
  display: flex;
  flex-direction: column;
  
  width: 22%;
  height: 100%;
  border-radius: 10px;
}

.card_curso:hover {
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 50%);

  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02); 
  
  transition: 0.2s;
}

.card_curso img {
  border-radius: 10px 10px 0 0;
}

/* início --- capa dos cards */

.card_capa {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(to right, #204D37, #00853B 40%);
  color: white;
  border-radius: 10px 10px 0 0;
  
  position: relative;
  padding: 10px;
  height: 210px;
}

.card_capa.desat {
  background: linear-gradient(to right, #7ea191, #98caaf 40%) !important;
}

.card_capa h1 {
  font-size: 1.7rem;
  
  position: inherit;
}

.card_capa p:first-child {
  width: max-content;
  font-size: 0.8rem;
  background-color: #d61111; 
  border-radius: 5px;
  padding: 3px 5px;
  
  position: inherit;
}

.card_capa p:last-child {
  font-size: 1.2rem;
  margin: 0;
  
  position: inherit;
}

.imagem_capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.imagem_capa img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.sem_turma, .sem_turma2 {
  display: none;
}

/* fim --- capa dos cards */

/* início --- conteudo dos cards */

.card_conteudo.desat{
  background: none !important;
  background-color: #868686 !important;
}

.card_conteudo {
  display: flex;
  flex-direction: column;
  
  background: linear-gradient(to bottom left, #f59211 40%, #ce5e18 100%);
  padding: 10px 10px 20px;
  color: white;
  border-radius: 0 0 10px 10px;
}

.card_conteudo h1 {
  font-size: 1.5rem;
}

.card_conteudo p {
  margin-bottom: 0px;
}

.objetivo{
  display: none;
  margin-top: 10px;
}

/* fim --- conteudo dos cards */

/* início --- botões dos cards */

.btn_conteudo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
  margin-top: 20px;
}

.btn_conteudo button {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: .9rem;
  
  border: none;
  
  text-transform: uppercase;
  font-weight: 600;
}

.btn_objetivo:hover {
  background-color: #d6d6d6;
}

.btn_inscrevase, .btn_inscrevase2 {
  background-color: #00853B;
  color: white;
  display: block;
}

.btn_inscrevase:hover, .btn_inscrevase2:hover {
  background-color: #00682f;
  color: white;
}

/* fim --- botões dos cards */

@media (max-width: 1300px) {
  .card_curso {
    width: 30%;
  }
}

@media (max-width: 985px) {
  .card_curso {
    width: 48%;
  }
}

@media (max-width: 535px) {
  .card_curso {
    width: 100%;    
  }
}













.card_capa2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #818181;
  color: white;
  border-radius: 10px 10px 0 0;
  
  position: relative;
  padding: 10px;
  height: 210px;
}

.card_capa2 h1 {
  font-size: 1.7rem;
  
  position: inherit;
}

.card_capa2 p:last-child {
  font-size: 1.2rem;
  margin: 0;
  
  position: inherit;
}

.card_capa2 .sem_turma2 {
  width: max-content;
  font-size: 0.8rem;
  background-color: #d61111;
  border-radius: 5px;
  padding: 3px 5px;
  
  position: inherit;
}

.card_conteudo2 {
  display: flex;
  flex-direction: column;
  
  background: linear-gradient(to bottom left, #f59211 40%, #ce5e18 100%);
  padding: 10px 10px 20px;
  color: white;
  border-radius: 0 0 10px 10px;
}

.card_conteudo2.desat{
  background: none !important;
  background-color: #868686 !important;
}

.card_conteudo2 p {
  margin-bottom: 0px;
}